
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    height: 100vh;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#040404;
    font-size: small;
    
}



/*HEADER************************************/

/*menu desplegable para la versi贸n movil*/
header nav#menu_desple{
    display: none;
}
/*cabecera del header de las versiones tablet y escritorio*/
header div#ver_tablet_desck{
    display: none;
}
/*menu de las versiones tablet y escritorio*/
header nav#menu-tablet-escrito{
    display: none;
}


/*header de las versi贸n movil*/
header{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2EDEB;
    justify-content: center;
    align-items: end;

}
/*imagen cabecera*/

header>picture>img{
   
    flex: 1 30%;
    width: 123px;
    height: 113px;
    max-width: 100%;
  
}
/* div que contiene el svg menu*/
header div#menu_header{
    
    flex: 1 30%;
    display: flex;

}

/*div que contiene el svg del login*/
header div#login_header{
   
    flex: 1 30%;
    display: flex;
    justify-content: end;
  
}
/*MAIN INICIO****************************************************/
/*imagenes de tablet y escritorio*/

 picture.foto_inicio_tablet{
    display: none;
}

 picture.foto_inicio_escritorio6{
    display: none;
}

 picture.foto_inicio_escritorio7{
    display: none;
}
/*parrafo de la versi贸n tablet*/
section.inicio article.parrafo_tablet{
    display: none;
}


/*FUENTES Y COLORES POR CADA FRAME*/

/*Para inicio version tablet*/
main > section.inicio > article > h2{
    color:#8C0444;
    font-family: 'Kaushan Script', cursive;
}

main > section.inicio > article > p{
    color:#040404;
    font-family: 'Kaushan Script', cursive;
}
/*img dentro de la secci贸n*/
main > section.inicio> div> picture img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

 main > section.inicio{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

section.inicio article.invierte{
    flex: 1 100%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
    text-align: center;
    margin: 0.5rem;
}

section.inicio div.foto_inicio_izq{
    flex: 1 50%;
    border-radius: 30px;
    padding: 0.5rem;
}
section.inicio div.foto_inicio_der{
    flex: 1 50%;
    border-radius: 30px;
    padding: 0.5rem;

}

section.inicio article.micropi{
    flex: 1 48%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
    padding: 0.2rem;
     margin: 0.2rem;
    
}
/**/
section.inicio article.micropi h2{
    text-align: center;
}
section.inicio article.microbla{
    flex: 1 48%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
    padding: 0.2rem;
    margin: 0.2rem;
    
}
section.inicio article.microbla h2{
    text-align: center;
}
/*FOOTER****************************************************/
footer picture#foto-footer{
    display: none;
}
footer div#madeby{
    display: none;
}


footer{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #D9BD9C;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #FB9445;
   
}
/*imagen del footer*/
footer>picture{
    flex: 0 20%;
  }

footer>picture>img{
   
    width: 100%;
   height: auto;
   border-top-left-radius: 30px

}
/* nav del footer*/
nav.nav_footer{
  
   flex: 0 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
    padding: 0.2rem;
}
nav>div.politicas>ul>li{
    padding: 0.2rem;
   
}
nav>div.redes_sociales{
    padding: 0.2rem;
   
}