/*Estilos generales*/
*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0; 
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*HEADER*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2EDEB;
    width: 100%;

}
header>picture>img{
    border: 1px solid black ;
    flex: 0 28%;
    width: 100%;
    max-width: 95%;
    height: auto;
}
header>svg{
    border: 1px solid black ;
    flex: 0 27%;

}
/*MAIN*/
main{
    display: none;
}
/*FOOTER*/
footer{
    display: none;
}