/*Estilos generales*/
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    height: 100vh;
}
main{
    flex: 1;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#040404;
    font-size: small;
    
}
/*FUENTES Y COLORES POR CADA FRAME*/

/*Para inicio*/
main > section.inicio > article > h2{
    color:#8C0444;
    font-family: 'Kaushan Script', cursive;
}

main > section.inicio > article > p{
    color:#040404;
    font-family: 'Kaushan Script', cursive;
}

/*HEADER*/


header{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2EDEB;
    width: 100%;
    justify-content: center;
    align-items: end;

}
/*imagen cabecera*/
header>picture>img{
   
    flex: 0 33.3%;
    width: 123px;
    height: 113px;
    max-width: 100%;
  
}
/* div que contiene el svg menu*/
header div#menu_footer{
    border: 1px solid black ;
    flex: 0 33.3%;
    display: flex;

}

/*div que contiene el svg del login*/
header div#login_footer{
    border: 1px solid black ;
    flex: 0 33.3%;
    display: flex;
    justify-content: end;
  
}


/*MAIN para el frame INICIO*/


 section.inicio article.parrafo_tablet{
    display: none;
 }
main section.inicio{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
   
}
/*aricles dentro del section*/
main section.inicio article.invierte{
    flex: 0 80%;
    width: 283px;
    height: 192px;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
    margin: 0.5rem;
}

main section.inicio article.foto_inicio_izq{

    flex: 0 50%;
    display: flex;
    justify-content: center;
    
}
main section.inicio article.foto_inicio_izq picture{

 
}
main section.inicio article.foto_inicio_der{
    flex: 0 50%;
     display: flex;
    justify-content: center;
}
main section.inicio article.foto_inicio_der picture{
 
    
}
/*imagenes dentro del section*/
section.inicio img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.artiTexto{
    flex: 0 40%;
    padding: 1rem;
}
main section.inicio article.micropi{

    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;


}
main section.inicio article.microbla{
    flex: 0 40%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
  

}




/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #D9BD9C;
    width: 100%;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #FB9445;
   
}
/*imagen del footer*/
footer>picture{
    flex: 0 15%;
  }

footer>picture>img{
   
    width: 85px;
   height: 91px;
   border-top-left-radius: 30px

}
/* nav del footer*/
nav.nav_footer{
  
   flex: 0 70%;
   display: flex;
   flex-direction: column;
    align-items: center;
    padding: 0.2rem;
}
nav>div.politicas>ul>li{
    padding: 0.2rem;
   
}
nav>div.redes_sociales{
    padding: 0.2rem;
   
}