
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    height: 100vh;
}
main{
    flex: 1;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#040404;
    font-size: small;
    
}
/*FUENTES Y COLORES POR CADA FRAME*/

/*Para inicio*/
main > section.inicio > article > h2{
    color:#8C0444;
    font-family: 'Kaushan Script', cursive;
}

main > section.inicio > article > p{
    color:#040404;
    font-family: 'Kaushan Script', cursive;
}



/*HEADER************************************/

/*menu desplegable para la versión movil*/
header nav#menu_desple{
    display: none;
}
/*cabecera del header de las versiones tablet y escritorio*/
header div#ver_tablet_desck{
    display: none;
}
/*menu de las versiones tablet y escritorio*/
header nav#menu-tablet-escrito{
    display: none;
}


/*header de las versión movil*/
header{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2EDEB;
    justify-content: center;
    align-items: end;

}
/*imagen cabecera*/

header>picture>img{
   
    flex: 1 30%;
    width: 123px;
    height: 113px;
    max-width: 100%;
  
}
/* div que contiene el svg menu*/
header div#menu_header{
    border: 1px solid black ;
    flex: 1 30%;
    display: flex;

}

/*div que contiene el svg del login*/
header div#login_header{
    border: 1px solid black ;
    flex: 1 30%;
    display: flex;
    justify-content: end;
  
}
/*MAIN INICIO****************************************************/
/*imagenes de tablet y escritorio*/

main picture.foto_inicio_tablet{
    display: none;
}

main picture.foto_inicio_escritorio6{
    display: none;
}

main picture.foto_inicio_escritorio7{
    display: none;
}



/*FOOTER****************************************************/
footer picture#foto-footer{
    display: none;
}
footer div#madeby{
    display: none;
}


footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #D9BD9C;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #FB9445;
   
}
/*imagen del footer*/
footer>picture{
    flex: 0 20%;
  }

footer>picture>img{
   
    width: 100%;
   height: auto;
   border-top-left-radius: 30px

}
/* nav del footer*/
nav.nav_footer{
  
   flex: 0 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
    padding: 0.2rem;
}
nav>div.politicas>ul>li{
    padding: 0.2rem;
   
}
nav>div.redes_sociales{
    padding: 0.2rem;
   
}