* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #040404;

}



/*HEADER************************************/

/*menu desplegable para la versión movil
header nav#menu_desple{
   display: none;
}


/*cabecera del header de las versiones tablet y escritorio*/
header div#ver_tablet_desck {
    display: none;
}

/*menu de las versiones tablet y escritorio*/
header nav#menu-tablet-escrito {
    display: none;
}


/*header de las versión movil*/
header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2EDEB;
    justify-content: center;
    align-items: end;

}

/*configuración del menu desplegable*/
header nav#menu_desple {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7.3rem;
    left: 0;
    width: 13rem;
    border: 1px solid #FB9445;
    background-color: #D9BD9C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    z-index: 1;
}

header nav#menu_desple h2 {
    padding: 0.5rem;
}

header nav#menu_desple a div {
    display: flex;
    padding: 0.5rem;
}

header nav#menu_desple a div h3 {
    margin: 0.2rem;
}

header nav#menu_desple div#logotipo_menu {
    margin-left: 8rem;
}

header nav#menu_desple div#logotipo_menu img {
    width: 100%;
    height: auto;
}




/*imagen cabecera*/

header>picture>img {

    flex: 1 30%;
    width: 123px;
    height: 113px;
    max-width: 100%;

}

/* div que contiene el svg menu*/
header div#menu_header {

    flex: 1 30%;
    display: flex;

}

/*div que contiene el svg del login*/
header div#login_header {

    flex: 1 30%;
    display: flex;
    justify-content: end;

}

/*MAIN INICIO****************************************************/
/*imagenes de tablet y escritorio*/

div.foto_inicio_tablet {
    display: none;
}

picture.foto_inicio_escritorio6 {
    display: none;
}

picture.foto_inicio_escritorio7 {
    display: none;
}

/*parrafo de la versión tablet*/
section.inicio article.parrafo_tablet {
    display: none;
}


/*FUENTES Y COLORES POR CADA FRAME*/

/*Para inicio version tablet*/
main>section.inicio>article>h2 {
    color: #8C0444;
    font-family: 'Kaushan Script', cursive;
}

main>section.inicio>article>p {
    color: #040404;
    font-family: 'Kaushan Script', cursive;
}

/*img dentro de la sección*/
main>section.inicio>div>picture img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

main>section.inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section.inicio article.invierte {
    flex: 1 100%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
    text-align: center;
    margin: 0.5rem;
}

section.inicio div.foto_inicio_izq {
    flex: 1 50%;
    border-radius: 30px;
    padding: 0.5rem;
}

section.inicio div.foto_inicio_der {
    flex: 1 50%;
    border-radius: 30px;
    padding: 0.5rem;

}

section.inicio article.micropi {
    flex: 1 48%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
    padding: 0.2rem;
    margin: 0.2rem;

}

/**/
section.inicio article.micropi h2 {
    text-align: center;
}

section.inicio article.microbla {
    flex: 1 48%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 20px;
    padding: 0.2rem;
    margin: 0.2rem;

}

section.inicio article.microbla h2 {
    text-align: center;
}


/*MAIN CONTACTO**************/
/*elementos de tablet y escritorio*/
section#main_contacto picture#foto1_contacto_tablet {
    display: none;
}

section#main_contacto picture#foto2_contacto_escritorio {
    display: none;
}

section#main_contacto picture#foto_contacto_escritorio {
    display: none;
}

section#main_contacto picture#foto2_contacto_tablet {
    display: none;
}

section#main_contacto div#repro_video {
    display: none;
}

/*elementos main*/
main section#main_contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

/*formulario******/
main section#main_contacto form {
    flex: 1 100%;
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.7rem;
}

main section#main_contacto form select {
    border: 1px solid #FB9445;
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem;


}

main section#main_contacto form p {
    flex: 1 100%;
    width: 90%;
    text-align: center;
}

main section#main_contacto form p input {
    border: 1px solid #FB9445;
    padding: 0.5rem;
    margin: 0.2rem;
    width: 100%;
}

main section#main_contacto form button {
    border: 1px solid #FB9445;
    background-color: #8C0444;
    color: white;
    padding: 0.8rem;
    margin: 0.6rem;
    border-radius: 25px;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/*articles */
main section#main_contacto article h2 {
    font-family: 'Kaushan Script', cursive;

}

main section#main_contacto article#hablamos {
    flex: 1 100%;
    padding: 0.2rem;
    margin: 0.2rem;
    margin-top: 0.2rem;


}

main section#main_contacto div#elementos_contacto {
    flex: 1 100%;
}

main section#main_contacto article#hablamos h2 {
    font-family: 'Kaushan Script', cursive;
    margin-left: 1rem;
    padding: 0.2rem;
}

main section#main_contacto article#contacto_wasap {
    flex: 1 100%;
    border: 1px solid #FB9445;
    background-color: #F2EDEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
}

main section#main_contacto article#contacto_email {
    flex: 1 100%;
    border: 1px solid #FB9445;
    background-color: #F2EDEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
}

main section#main_contacto article#contacto_telefono {
    flex: 1 100%;
    border: 1px solid #FB9445;
    background-color: #F2EDEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
}

/*MAIN TRATAMIENTOS******************************/
main section#tratamientos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

main section#tratamientos h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: xx-large;
    padding: 0.2rem;
}

main section#tratamientos article.foto_tratamiento {
    position: relative;
    flex: 1 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;

}

main section#tratamientos article.foto_tratamiento picture {
    flex: 1 100%;
    max-width: 65%;

}

main section#tratamientos article.foto_tratamiento picture img {
    width: 100%;
    height: auto;

}

main section#tratamientos h2.exterior {
    font-family: 'Kaushan Script', cursive;
    color: #8C0444;
    flex: 1 100%;
    margin: 0.5rem;
}

main section#tratamientos h3.interior {
    font-family: 'Kaushan Script', cursive;
    color: white;
    position: absolute;
    top: 11%;
    padding: 0.2rem;
    flex: 1 100%;



}

main section#tratamientos h3.interior_1 {
    font-family: 'Kaushan Script', cursive;
    color: white;
    position: absolute;
    top: 1%;
    padding: 0.2rem;
    flex: 1 100%;



}

main section#tratamientos button {
    font-family: 'Kaushan Script', cursive;
    border: 1px solid #FB9445;
    background-color: #8C0444;
    color: white;
    position: absolute;
    top: 85%;
    padding: 0.3rem;
    margin: 0.6rem;
    border-radius: 25px;
    width: 10rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/*MAIN SABER MAS***************************************/
main section#saberMas article#efectos-secundarios {
    display: none;
}

main section#saberMas article#importante {
    display: none;
}


main section#saberMas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

main>section#saberMas>h1 {
    flex: 1 100%;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    padding: 0.5rem;
}

/*general de las imagenes*/
main section#saberMas article img {
    width: 100%;
    height: auto;
}

/*general del h4 dentro de los articles*/
main section#saberMas article div h4 {
    padding: 0.5rem;
}


/*Article 1*/
article#blading_cejas {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

article#blading_cejas h2 {
    color: #8C0444;
    font-family: 'Kaushan Script', cursive;
}

article#blading_cejas div#texto_1 {
    flex: 1 100%;
    margin: 0.5rem;

}

article#blading_cejas div#texto_1 h3 {
    font-family: 'Kaushan Script', cursive;
}

article#blading_cejas div#imagenes_1 {
    flex: 1 100%;
    margin: 0.5rem;
}

article#blading_cejas div#imagenes_1 h3 {
    font-family: 'Kaushan Script', cursive;
}

article#blading_cejas div#imagenes_1 img {
    max-width: 50%;
}

/*article 2*/
article#pigmenta_cejas {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

article#pigmenta_cejas h2 {
    color: #8C0444;
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_cejas div#texto_2 {
    flex: 1 100%;
    padding: 0.5rem;
    margin: 0.5rem;
}

#texto_2>h3 {
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_cejas div#imagenes_2 {
    flex: 1 100%;
    margin: 0.5rem;
}

article#pigmenta_cejas div#imagenes_2 h3 {
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_cejas div#imagenes_2 img {
    max-width: 50%;
}

/*Article 3*/
article#pigmenta_ojos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

article#pigmenta_ojos h2 {
    color: #8C0444;
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_ojos div#texto_3 {
    flex: 1 100%;
    padding: 0.5rem;
    margin: 0.5rem;

}

#texto_3 h3 {
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_ojos div#imagenes_3 {
    flex: 1 100%;
    margin: 0.5rem;
}

article#pigmenta_ojos div#imagenes_3 h3 {
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_ojos div#imagenes_3 img {
    max-width: 50%;
}

/*Article 4*/
article#pigmenta_labios {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

article#pigmenta_labios h2 {
    color: #8C0444;
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_labios div#texto_4 {
    flex: 1 100%;
    padding: 0.5rem;
    margin: 0.5rem;
}

article#pigmenta_labios div#texto_4 h3 {
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_labios div#imagenes_4 {
    flex: 1 100%;
    margin: 0.5rem;
}

article#pigmenta_labios div#imagenes_4 h3 {
    font-family: 'Kaushan Script', cursive;
}

article#pigmenta_labios div#imagenes_4 img {
    max-width: 50%;
}


main section#saberMas article#cuidados {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kaushan Script', cursive;

}

main section#saberMas article#cuidados h2 {
    color: #8C0444;
}

/*MAIN  SOBRE MI ***********************************************/
main section#sobreMi picture#foto1_sobreMi_tablet {
    display: none;
}

main section#sobreMi picture#foto2_sobreMi_tablet {
    display: none;
}

main section#sobreMi picture#foto3_sobreMi_tablet {
    display: none;
}

main section#sobreMi picture#foto4_sobreMi_escritorio {
    display: none;
}

main section#sobreMi picture#foto5_sobreMi_escritorio {
    display: none;
}


main section#sobreMi picture img {
    width: 100%;
    height: auto;

}

main section#sobreMi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main section#sobreMi h1 {
    padding: 0.5rem;
    margin: 0.3rem;
}

section#sobreMi article#imagen_ro {
    flex: 1 100%;
    display: flex;
    align-items: center;

}

article#imagen_ro picture {
    flex: 1 50%;
    padding: 0.7rem;
    margin: 1rem;
}

article#imagen_ro h2#texto_imagen {
    flex: 1 50%;
    font-family: 'Kaushan Script', cursive;
    color: #8C0444;
}

section#sobreMi article#texto_boton {
    background-color: #F2EDEB;
    border: 1px solid #FB9445;
    border-radius: 2%;
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
}

section#sobreMi article#texto_boton p {
    flex: 1 100%;
    text-align: left;
    margin: 0.2rem;
}

section#sobreMi article#texto_boton button {
    flex: 1 100%;
    font-family: 'Kaushan Script', cursive;
    border: 1px solid #FB9445;
    background-color: #8C0444;
    color: white;
    padding: 0.3rem;
    margin: 0.6rem;
    border-radius: 25px;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7)
}

/* FRAMES POLÍTICAS*******************/
body div.sombreado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 4;
}

/* footer cookies*/
footer div#footer2_cookies {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #FB9445;
    background-color: #D9BD9C;
    width: 100%;
    height: 57rem;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

footer div#footer2_cookies p {
    padding: 1rem;
}

footer div#footer2_cookies form.boton_politicas {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

/*botones para todos los frames de políticas*/
form.boton_politicas button.boton_aceptar {
    font-family: 'Kaushan Script', cursive;
    border: 1px solid #FB9445;
    background-color: #8C0444;
    color: white;
    padding: 0.8rem;
    margin: 0.6rem;
    border-radius: 25px;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

form.boton_politicas button.boton_rechazar {
    font-family: 'Kaushan Script', cursive;
    border: 1px solid #FB9445;
    background-color: black;
    color: white;
    padding: 0.8rem;
    margin: 0.6rem;
    border-radius: 25px;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

footer div#footer2_privacidad {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #FB9445;
    background-color: #D9BD9C;
    width: 100%;
    height: 59rem;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

footer div#footer2_privacidad form.boton_politicas {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

footer div#footer2_privacidad ul {
    padding: 0.5rem;
}

/*Terminos y condiciones*/
footer div#footer2_terminos {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #FB9445;
    background-color: #D9BD9C;
    width: 100%;
    height: 51rem;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

footer div#footer2_terminos p {
    padding: 1rem;
}

footer div#footer2_terminos p a {
    font-size: large;
}

footer div#footer2_terminos form.boton_politicas {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

/*LOGIN************************/
div#login {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;
    margin-top: 3.2rem;
    margin-bottom: 4.5rem;
    justify-content: center;

}

div#login h1 {
    flex: 1 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div#login form#form_login {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin-top: 2rem;

}

div#login form#form_login p {
    flex: 1 100%;
    width: 90%;
    margin-bottom: 0.5rem;
    text-align: center;

}

div#login form#form_login p input {
    border: 1px solid #FB9445;
    padding: 0.5rem;
    margin: 0.2rem;
    width: 90%;

}

/*div para poder colocar el svg dentro del input*/
#form_login>div {
    position: relative;
    width: 90%;
    text-align: center;
}

#form_login>div>input[type=password] {
    border: 1px solid #FB9445;
    padding: 0.5rem;
    margin: 0.2rem;
    width: 90%;


}

#form_login>div>svg {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem
}

#form_login p#mantener {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
}

#form_login p#mantener input#mantenerInput {
    flex: 1 10%;
}

#form_login p#mantener label {
    flex: 1 80%;
    margin-left: -28%;
}

/*botones del login OJO el inici esta dentro del formulario*/
button#inicio {
    flex: 01 100%;
    border: 1px solid #FB9445;
    background-color: #8C0444;
    color: white;
    padding: 0.8rem;
    margin: 0.6rem;
    border-radius: 25px;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button#crear {
    border: 1px solid #FB9445;
    background-color: white;
    color: black;
    padding: 0.8rem;
    margin: 0.6rem;
    border-radius: 25px;
    width: 15rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10rem;

}

/**CREAR CUENTA**********************/
div#crear_cuenta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem;
    margin-top: 3.2rem;
    margin-bottom: 20rem;
    justify-content: center;



}

div#crear_cuenta h1 {
    flex: 1 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div#crear_cuenta#form_login {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin-top: 2rem;
    ;

}

div#crear_cuenta form#form_crear p {
    flex: 1 100%;
    width: 90%;
    margin-bottom: 0.5rem;
    text-align: center;

}

div#crear_cuenta #form_crear p input {
    border: 1px solid #FB9445;
    padding: 0.5rem;
    margin: 0.2rem;
    width: 100%;

}

/*div para poder colocar el svg dentro del input*/
#form_crear>div {
    position: relative;
    width: 90%;
    text-align: center;
}

#form_crear>div>input[type=password] {
    border: 1px solid #FB9445;
    padding: 0.5rem;
    margin: 0.2rem;
    width: 100%;


}

#form_crear>div>svg {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem
}

#form_crear p#mantener {
    display: flex;
    flex-direction: row;

}

#form_crear p#mantener input#mantenerInput {
    flex: 1 10%;
}

#form_crear p#mantener label {
    flex: 1 80%;
    margin-left: -28%;
}

/*botones del login OJO el inici esta dentro del formulario*/


#form_crear button#crear {
    border: 1px solid #FB9445;
    background-color: white;
    color: black;
    margin: 0.7rem;
    border-radius: 25px;
    width: 14rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/*Formulario crear cuenta*/
#telefono {
    margin-top: 0.5rem;
}

/*FOOTER****************************************************/

footer picture#foto-footer {
    display: none;
}

footer div#madeby {
    display: none;
}


footer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #D9BD9C;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 1px solid #FB9445;

}

/*imagen del footer*/
footer>picture {
    flex: 0 25%;
}

footer>picture>img {

    width: 100%;
    height: auto;
    border-top-left-radius: 30px
}

/* nav del footer*/
nav.nav_footer {

    flex: 0 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
}

nav>div.politicas {
    margin-right: 3rem;
}

nav>div.politicas>ul>li {
    padding: 0.2rem;

}

div.redes_sociales {
    flex: 1 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: center
}

div.redes_sociales svg {
    margin: 0.5rem;
    cursor: pointer;
}

/*************** VERSION TABLET***************************/

@media (min-width:768px) {

    main {
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 90%;
        background-color: #F2EDEB;
    }

    /*hambuerguesa menu se esconde*/
    header div#menu_header {
        display: none;
    }

    header div#login_header {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    header picture.logo_header {
        flex: 1 20%;
    }

    header picture.logo_header img {
        cursor: pointer;
    }

    header div#ver_tablet_desck {
        flex: 1 50%;
        margin-right: 10rem;
        display: flex;
        flex-direction: column;
        align-items: normal
    }

    /*h1 de la cabecera*/
    header div#ver_tablet_desck h1 {
        padding: 0.5rem;
        text-align: center;
    }

    header nav#menu-tablet-escrito {
        flex: 1 100%;
        display: block;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    header nav#menu-tablet-escrito ul#menu {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        height: 30px;
        font-weight: bold;
    }

    header nav#menu-tablet-escrito ul#menu li {
        display: flex;
        align-items: center;
        height: 100%;
    }

    header nav#menu-tablet-escrito ul#menu a {
        padding: 0 1.5rem;
        line-height: 30px;
        display: flex;
        align-items: center;
    }

    header nav#menu-tablet-escrito ul#menu li svg {
        cursor: pointer;
        padding: auto;
    }

    /*FOOTER VERSION TABLET*****************/
    footer {
        border-bottom: none;
    }

    footer>picture {
        order: 2;
        flex: 1 20%;

    }

    footer>picture img {
        width: 100%;
        height: auto;
    }

    nav.nav_footer {
        order: 1;
        flex: 1 40%;

    }

    div.redes_sociales {
        order: 3;
        flex: 1 40%;


    }

    div.politicas ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


    }

    div.politicas ul>li:nth-child(1) {
        flex: 1 45%;
        text-align: center;

    }

    div.politicas ul>li:nth-child(2) {
        flex: 1 45%;
        text-align: center;
    }

    div.politicas ul>li:nth-child(3) {
        flex: 1 100%;
        margin-top: 0.5rem;
        text-align: center;

    }

    div.redes_sociales {
        display: flex;
        flex-wrap: wrap;
    }

    div.redes_sociales svg {
        flex: 1 25%;

    }


    footer div#madeby {
        order: 4;
        display: block;
        background-color: #8C0444;
        color: white;
        flex: 1 100%;
        text-align: center;
        padding: 0.2rem;
        margin-bottom: -1px;
    }

    /*MAIN INICIO ***********/

    section.inicio div.foto_inicio_tablet {
        display: block;
        flex: 1 25%;
        border-radius: 30px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    section.inicio div.foto_inicio_izq {
        flex: 1 25%;
        border-radius: 30px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    section.inicio div.foto_inicio_der {
        flex: 1 25%;
        border-radius: 30px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;

    }

    section.inicio article.invierte {
        flex: 1 70%;
        margin: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    section.inicio article.invierte h2 {
        margin: 1rem;
        font-size: xx-large;
        transform: rotate(-10deg);
    }

    section.inicio article.invierte p {
        font-size: x-large;
    }

    section.inicio article.micropi {
        padding: 2rem;
    }

    section.inicio article.microbla {
        padding: 2rem;
    }


    section.inicio article.parrafo_tablet {
        display: block;
        flex: 1 100%;
        text-align: center;
        padding: 0.5rem;
    }


    /*politicas cookies*/
    footer div#footer2_cookies {
        height: 45rem;
    }

    /*Terminos y condiciones*/
    footer div#footer2_terminos {
        height: 44rem;


    }

    #footer2_terminos p {
        text-align: center;
    }

    #footer2_terminos a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }


    /*Políticas y privacidad*/

    footer div#footer2_privacidad {
        height: 52rem;

    }

    footer div#footer2_privacidad ul {
        padding: 0.5rem;
        text-align: center;
        padding: 1rem;
    }



    /*MAIN SOBRE MI  TABLET*********************/
    section#sobreMi {
        align-items: center;
    }

    section#sobreMi h1 {
        flex: 1 100%;
        font-weight: bold;

    }

    section#sobreMi article#imagen_ro {
        flex: 1 60%;
    }

    section#sobreMi article#imagen_ro h2 {
        font-size: xx-large;
    }

    section#sobreMi article#texto_boton {
        flex: 1 25%;
        padding: 2rem;
    }

    main section#sobreMi picture#foto1_sobreMi_tablet {
        display: block;
        flex: 1 10%;
        margin-right: 2rem;


    }

    main section#sobreMi picture#foto1_sobreMi_tablet img {
        border-radius: 30px;
        border: 1px solid #8C0444;
        ;
    }

    main section#sobreMi picture#foto3_sobreMi_tablet {
        display: block;
        flex: 1 30%;
        padding: 0.5rem;
        max-width: 40%;
    }

    main section#sobreMi picture#foto3_sobreMi_tablet img {
        border-radius: 30px;
        border: 1px solid #8C0444;
        ;
    }

    main section#sobreMi picture#foto2_sobreMi_tablet {
        display: block;
        flex: 0 40%;
        transform: rotate(-90deg);

    }

    main section#sobreMi picture#foto2_sobreMi_tablet img {
        border-radius: 30px;
        border: 1px solid #8C0444;



    }


    /*MAIN CONTACTO  VERSIÓN TABLET*/

    main section#main_contacto article#hablamos {
        margin: 1rem;
        padding: 1rem;
    }

    article#hablamos h2 {
        font-size: xx-large;
        padding: 3rem;
    }

    article#hablamos p {
        font-size: xx-large;
        padding: 2rem;
    }

    main section#main_contacto form {
        flex: 1 45%;
        margin: 1rem;

    }

    main section#main_contacto div#elementos_contacto {
        flex: 1 45%;
        margin: 1rem;

    }

    main section#main_contacto div#repro_video {
        display: block;
        flex: 1 100%;
    }

    /*repodructor*/
    div#repro_video {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 4rem;

    }

    video {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    div#reproductor {
        display: flex;
        flex-flow: row wrap;
        background-color: #8C0444;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem;
        border-radius: 10px;
        border: 2px solid #8C0444;
        flex-basis: 90%;


    }

    /* #8C0444 todos los elementos que gestionan y muestran el tiempo del audio #D9BD9C*/
    div#barra-tiempo {
        flex: 0 100%;
        border-bottom: 1px solid#D9BD9C;
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding: 0.2rem;

    }

    div#barra-tiempo>span {

        font-size: xx-large;
        flex: 0 50%;
        text-align: center;
        color: #D9BD9C
    }

    #time-range {
        flex: 0 50%;
    }

    #time-range::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #D9BD9C 0%, #8C0444 100%);
    }

    input[type="range"]#time-range::-webkit-slider-thumb {
        background-color: #FFF;
        /* Cambia el color del pulgar */
    }

    input[type="range"]#time-range::-moz-range-thumb {
        background-color: yellow;
        background: linear-gradient(to right, #D9BD9C 0%, #8C0444 100%);
        /* Cambia el color del pulgar */
    }

    /* Todos los elemenos de tipo botón*/
    div#repro_video div#control-pista {
        display: flex;
        flex-direction: row;
        flex: 0 50%;
        /*   border: 1px solid #D9BD9C; */
        border-radius: 10px;
        justify-content: center;
        padding: 0.2rem;
    }

    div#repro_video button#pausa {
        display: none;
    }


    div#repro_video button {

        font-family: Arial;
        width: 45px;
        height: auto;
        border-width: 1px;
        color: #8C0444;
        border-color: #d6bcd6;
        font-weight: bold;
        margin-left: 0.5rem;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: inset 1px 1px 0px 1px #899599;
        text-shadow: inset 1px 1px 2px rgba(129, 137, 171, 1);
        background: linear-gradient(#ededed, rgba(67, 111, 123, 1));
    }

    div#repro_video button:hover {
        background: linear-gradient(#bab1ba, #ededed);
    }

    /* elementos botón de volumen*/
    div#repro_video div#control-volumen {
        display: flex;
        flex-direction: row;
        flex: 0 50%;
        border-radius: 10px;
        justify-content: center;
        padding: 0.3rem;

    }

    div#repro_video #volume-range::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #D9BD9C, #8C0444 100%);
    }


    /*MAIN  TRATAMIENTOS */
    main section#tratamientos h1 {
        flex: 1 100%;
        text-align: center;
        padding: 1rem;
    }

    section#tratamientos h2.exterior {
        display: none;
    }

    main section#tratamientos article.foto_tratamiento picture {
        max-width: 30%;


    }

    main section#tratamientos article:nth-child(2) {
        flex: 0 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2rem;



    }

    main section#tratamientos article:nth-child(2) h3 {
        border-bottom: 1px solid #8C0444;
        color: #8C0444;
        text-align: center;
        font-size: xx-large;
        width: 60%;
        top: 70%;
        left: 25%
    }

    main section#tratamientos article:nth-child(2) button {
        left: 35%;
        width: 30%;


    }

    main section#tratamientos article:nth-child(3) {
        flex: 0 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        padding: 2rem;


    }

    main section#tratamientos article:nth-child(3) h3 {
        border-bottom: 1px solid #8C0444;
        color: #8C0444;
        text-align: center;
        font-size: xx-large;
        width: 60%;
        top: 70%;
        left: 12%
    }

    main section#tratamientos article:nth-child(3) button {
        left: 35%;
        width: 30%;

    }


    main section#tratamientos article:nth-child(4) {
        flex: 0 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2rem;


    }

    main section#tratamientos article:nth-child(4) h3 {
        border-bottom: 1px solid #8C0444;
        color: #8C0444;
        text-align: center;
        font-size: xx-large;
        width: 60%;
        top: 70%;
        left: 25%
    }

    main section#tratamientos article:nth-child(4) button {
        left: 35%;
        width: 30%;


    }

    main section#tratamientos article:nth-child(5) {
        flex: 0 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: end;
        padding: 2rem;


    }

    main section#tratamientos article:nth-child(5) h3 {
        border-bottom: 1px solid #8C0444;
        color: #8C0444;
        text-align: center;
        font-size: xx-large;
        width: 60%;
        top: 70%;
        left: 12%
    }

    main section#tratamientos article:nth-child(5) button {
        left: 35%;
        width: 30%;

    }

    main section#tratamientos .boton_saberMas {
        cursor: pointer;

    }

    /*MAIN SABER MÁS TABLET*/

    article#blading_cejas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #saberMas>h1 {
        margin-top: 1rem;
        font-size: xx-large;
    }

    article#blading_cejas h2 {
        flex: 1 100%;
    }

    /*Article1*/
    article#blading_cejas div#texto_1 {
        flex: 1 50%;
        padding: 0.5rem;
        margin-top: 1.5rem;

    }

    article#blading_cejas div#imagenes_1 {
        flex: 1 45%;
        padding: 0.5rem;
        text-align: center
    }

    /*Article2*/
    article#pigmenta_cejas div#imagenes_2 {
        display: flex;
        flex-wrap: wrap;

    }

    article#pigmenta_cejas div#texto_2 {
        margin-top: 2rem;
    }

    article#pigmenta_cejas div#imagenes_2 h3 {
        flex: 1 100%;
    }

    article#pigmenta_cejas div#imagenes_2 div {
        flex: 1 33%;
        text-align: center;
    }

    /*Article3*/
    article#pigmenta_ojos div#texto_3 {
        margin-top: 1.5rem;
    }

    article#pigmenta_ojos div#imagenes_3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }

    article#pigmenta_ojos div#imagenes_3 h3 {
        flex: 1 100%;
    }

    article#pigmenta_ojos div#imagenes_3 div {
        flex: 1 50%;
    }

    /*Article4*/
    article#pigmenta_labios {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

    }

    article#pigmenta_labios h2 {
        flex: 1 100%;

    }

    article#pigmenta_labios div#texto_4 {
        flex: 1 30%;
    }

    article#pigmenta_labios div#imagenes_4 {
        flex: 1 30%;

    }

    main section#saberMas article#cuidados {
        align-items: flex-start;
        margin: 1rem;
    }

    main section#saberMas article#efectos-secundarios {
        display: block;
        margin: 1rem;
    }

    main section#saberMas article#efectos-secundarios h2 {
        color: #8C0444;
        font-family: 'Kaushan Script', cursive;
    }

    main section#saberMas article#efectos-secundarios p {
        font-family: 'Kaushan Script', cursive;
    }

    main section#saberMas article#importante {
        display: block;
        margin: 1rem;
    }

    main section#saberMas article#importante h2 {
        color: #8C0444;
        display: block;
    }

    main section#saberMas article#importante p {
        font-family: 'Kaushan Script', cursive;
    }

    /*LOGIN DESPLEGABLE*/
    header div#login_desplegue {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 9.6rem;
        right: 0;
        width: 25rem;
        height: auto;
        border: 1px solid #FB9445;
        background-color: #F2EDEB;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 0 10px 10px 0;
        font-family: 'Open Sans Condensed', sans-serif;
        z-index: 1;
        align-items: center;
    }


    header div#login_desplegue h2 {
        flex: 1 100%;
        text-align: center;
        margin: 0.5rem;
        padding: 0.5rem;
    }


    header div#login_desplegue form {
        flex: 1 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;

    }

    header div#login_desplegue form p {
        width: 95%;
        margin-left: 2.3rem;

    }

    header div#login_desplegue form div {
        width: 90%;
    }

    header div#login_desplegue form p input {
        border: 1px solid #FB9445;
        padding: 0.4rem;
        width: 85%;



    }

    /*Crear cuenta desplegable*/

    header div#crearCuenta_desple {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 9.6rem;
        right: 0;
        width: 25rem;
        height: auto;
        border: 1px solid #FB9445;
        background-color: #F2EDEB;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 0 10px 10px 0;
        font-family: 'Open Sans Condensed', sans-serif;
        z-index: 1;
        align-items: center;
    }

    header div#crearCuenta_desple h2 {
        padding: 0.5rem;

    }

    div#crearCuenta_desple form#form_crear {
        flex: 1 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;

    }

    div#crearCuenta_desple form#form_crear p {
        flex: 1 100%;
        width: 90%;
        margin-bottom: 0.5rem;
        text-align: center;

    }

    div#crearCuenta_desple form#form_crear p input {
        border: 1px solid #FB9445;
        padding: 0.5rem;
        margin: 0.2rem;
        width: 90%;

    }

    /*div para poder colocar el svg dentro del input*/
    form#form_crear>div {
        position: relative;
        width: 90%;
        text-align: center;
    }

    form#form_crear>div>input[type=password] {
        border: 1px solid #FB9445;
        padding: 0.5rem;
        margin: 0.2rem;
        width: 90%;


    }

    form#form_crear>div>svg {
        position: absolute;
        right: 1.4rem;
        top: 0.5rem
    }

    button#crear_desple {
        border: 1px solid #FB9445;
        background-color: white;
        color: black;
        padding: 0.8rem;
        margin: 0.7rem;
        border-radius: 25px;
        width: 15rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    button#crear_desple_2 {
        border: 1px solid #FB9445;
        background-color: white;
        color: black;
        padding: 0.8rem;
        margin: 0.9rem;
        border-radius: 25px;
        width: 15rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    button#crear_desple_3 {
        border: 1px solid #FB9445;
        background-color: white;
        color: black;
        padding: 0.8rem;
        margin: 0.9rem;
        border-radius: 25px;
        width: 15rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }


}

/********* DESKTOP *********/

section {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

ul#menu {
    background-color: #d9bd9c !important;
}

picture.logo_footer {
    max-width: 200px
}

@media all and (min-width:1025px) {

    main {
        display: flex;
        justify-content: center;
    }

    section {
        max-width: 1024px;
        background-color: #F2EDEB;
    }

    header div#ver_tablet_desck {
        flex-direction: row;
        align-items: normal;
    }

    header div#ver_tablet_desck h1 {
        flex-direction: row;
        align-items: normal;
    }

}