/*estilos generales*/

* {
    box-sizing: border-box;
}

div#contenido{
    display: flex;
    flex-direction: column;
   
   
    
}
header, article ,aside, footer{
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    flex-basis: 100%;
}
/*fin de estilos generales*/


 header {

    background-color: #F25244;
}

article {


    background-color: #07C7F2;
}

aside#asi1 {

    background-color: #F2B705;
}

aside#asi2 {

    background-color: #F266B3
}

 footer {

    background-color: #95F291
}

/*versión tablet*/
@media (min-width:720px){
    
   div#contenido{

    flex-flow: row wrap;
   
   }
    
 aside{

    flex-basis: 50%;
 }

}

/*versión escritorio*/
@media (min-width:1024px){
   article{flex: 50%;}

  div  aside{
    flex: 15%;
   }
   
  div header{
    order: 1;
   }
    #asi1{
        order: 2;

    }
    div article{

        order: 3;
    }
    #asi2{

        order: 4;
    }

     div footer{

        order: 5;
    }
   

    
}