* {
box-sizing: border-box;
}

/* VOY A ESCONDER ZABECERA Y PIE PARA */

footer{

    display: none;
}

/*header*/
header{
  display: none;
  /*display: flex;*/

flex-wrap: wrap;
}
header>nav#menu-principal>input,ul#menu{
    display: none;
    order: 1;
    
}
header>picture{
   
    order: 2
    
}

header nav#buscador >ul>li{
  list-style: none;
  order: 3;
                                                              
}

header nav#compra >ul>li{
    list-style: none;
    order: 4;
  }


/* main*/
body>main{
  
    display: flex;
    flex-wrap: wrap;

}

/* article*/

main>article.item{
    margin: 3px;
     flex-basis: 48%;
     border: 1px solid;
     display: flex;
     flex-direction: column;
}

main>article.item>:nth-child(3){
   order: 1;
   width: 100%;
   height: auto;
  
}
main>article.item>:nth-child(1){
order: 2;
text-decoration: none;
}
main>article.item>:nth-child(2){
  order :3;
 }



