/* fuente de todo el body*/
body {

    font-family: 'Roboto', 'sans-serif';
}



/*header*/
header {
   

    text-align: left;
    margin: 10px;
}



/*fin general main*/

/*general del formulario*/
form {
    display: flex;
    flex-direction: column;
    padding: 2px;
    row-gap: 10px;

}

form input {

    border: none;
    border-bottom: 1px solid grey;
}
form *::placeholder, a{
    font-weight: bold;
    color: black;

}



/*boton*/
button {
    border-radius: 20rem;
    background-color: black;
    padding: 15px;
    color: burlywood;
}
/*miaumiaumiaumiau*/
/*a*/
a {
    text-decoration: none;
    color: black;

}