body {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


div#contenedor {
    display: flex;
    display: contents;
}

/*HEADER*/
div#contenedor header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

/*logo*/
div#contenedor header picture#logo-cabecera img {
    width: 50%;
    height: 50%;
  
    
}
/*iconos*/

div#contenedor header nav#bloque-iconos>ul {
    display: flex;
    flex-direction: row;
    

     
}
div#contenedor header nav#bloque-iconos>ul>li {
   font-size: x-large;
   margin: 10px;
     
}

/*menu principal*/
div#contenedor header nav#menu-principal {
   
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 0.2rem;

}

div#contenedor header nav#menu-principal>ul#menu {
    color:white;
    display: none
}

/*
intento de desplar el menu 
div#contenedor header nav#menu-principal>ul#menu>div#hamburguesa>span:checked+ul#menu {
   display: flex;
flex-flow: column;
position: absolute;
top: 3rem;
left:0;
background-color: aliceblue;
padding: 1rem;
width: 60%;
  
}
*/

div#contenedor header nav#menu-principal>div#hamburguesa {
  
    display: flex;
    flex-direction: column;
    align-items: center;
     
 }
div#contenedor header nav#menu-principal>div#hamburguesa>span {

   color:white;
   font-size:x-large
    
}


/*MAIN*/
div#contenedor>main>section#form-contacto {
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
div#contenedor>main>section#form-contacto>h2 {
    
 
    padding: 1rem;
    font-size:xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/*hago flexible el contenedor del formulario*/
div#contenedor>main>section#form-contacto>form#contacto {
    display: flex;
    flex-direction: column;
      border: 1px solid;
 }
 /*quito los label del formulario*/
 div#contenedor>main>section#form-contacto>form#contacto>label {
   display: none;
    
 }
 /*general de todos los elementos del formulario*/
 div#contenedor>main>section#form-contacto>form#contacto>* {
    padding: 0.5rem;
    margin: 0.2rem; 
  }
  /*al input de typo boton le doy un estilo*/
  div#contenedor>main>section#form-contacto>form#contacto>input[type="button"] {
    color:white;
    background-color: black;
    
  }
  /*estilo del select*/
 
  /*cuando los input estan checked  NO funcina
  div#contenedor > main > section#form-contacto > form#contacto > input[type="text"]:checked {
    background-color:black;
    color: white;
}
*/

  
/*FOOTER*/
 footer nav#menu-adicional {
    display: flex;
    border: 1px solid;
    justify-content: center;
    width: 100%;
    background-color: black;
   
}
footer nav#menu-adicional>ul>li {
    text-align: center;
     margin-right: 2rem;
    padding: 0.2rem;
     
}
footer nav#menu-adicional>ul>li>a {
    color: white;
     
}
/*version tablet*/
 @media (min-width:900px) {
    
    body{
        background-color: aqua;
    }

    div#contenedor header nav#menu-principal>ul#menu {
        color:white;
        display: flex;

    }
    div#contenedor header nav#menu-principal>ul#menu>li>ul#submenu> {
        color:white;
      
        
    }
    

}