* {
    box-sizing: border-box;
}

body {

    background-color: rgb(0, 123, 255);
}

input {
    display: none;
}


li {
    list-style: none;
    color: white;
    background-color: #222625;
    padding: 10px;
    width: 200px;
    border-bottom: 1px solid lightgrey;
}

ul#menu {
    position: absolute;
    left: -200px;
    background-color: #222625;
    height: 100%;
    width: 200px;
    padding: 5rem 0;
}



label {
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 3rem;
    height: 3rem;
    background-color: black;
    cursor: pointer;


}

label>span.hamburguer-line {
    position: absolute;
    margin-left: -1rem;
    margin-top: -0.125rem;
    left: 50%;
    width: 2rem;
    height: .25rem;
    background: white;
    transition: background 0s .25s;
}

label>span.hamburguer-line:nth-child(2) {
    top: 25%
}

label>span.hamburguer-line:nth-child(4) {
    top: 50%
}



/*tranformaciones*/
/*muevo el menu dentro del body*/
input:checked~ul#menu {
    left: 0;

}

input:checked~ul#menu {
    transition: left ease-out 1s;

}
input:not(:checked)~ul#menu{
    transition: left ease-out 1s;
}

/*muevo el label*/
input:checked~label {
    left: 200px;
}

input:checked~label {
    transition: left ease-out 1s;
}
input:not(:checked)~label{
    transition: left ease-out 1s;
}

ul#menu>li{
    display:block;
    width:95%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    text-decoration: none;
    color:white;
}


