*{box-sizing: border-box;}

body{background-color: aquamarine;}

input {
    display: none;
}


li {
    list-style: none;
    color: white;
    background-color: #222625;
    padding: 10px;
    width: 200px;
    border-bottom: 1px solid lightgrey;
}

label{
    background-color: black;
    width: 4rem;
    height: 4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    transition: left ease-out 1s;
    
}

label>span.hamburguer-line {
    width: 2rem;
    height: .25rem;
    background: white;
    margin-top: 0.8rem;
    left: 0;
    
}
label>span.hamburguer-line:nth-child(2) {
    background: white;
}

label>span.hamburguer-line:nth-child(3) {
    background: white;
}

nav#menu{
    position: absolute;
    left: -50%;
    height: 100%;
    transition: left ease-out 1s;

}
/*transicion*/
input:checked~nav#menu{
    left:0% ;
}
input:checked~label{
    left: 100px;
}
input:checked~span.hamburguer-line{
    left: 100px;
}