* {
  box-sizing: border-box;
}


/*----------------FIN MEDIA---------------*/


/* GENERAL PARA BLOQUE CONTENEDOR PRINCIAL */
 div#contenido {
  display: flex;
  flex-direction: column;
 
  background-color: rgb(206, 200, 200);
 
  padding: 8px;
  color: white;
  text-align: center;


  
}

/*GENERAL PARA TODAS LAS CAJAS*/
  div header, div footer{
  
  border: 2px solid lightgray;
  
 

}
main *{

  border: 2px solid lightgray;
}

/*COLORES INDIVIDUALES*/
div main{
display: flex;
flex-direction: column;
}

div header {
  background-color: #03A6A6;
}

div main nav {

  background-color: #F28705;
}

div main article {
  height: 200px;
  background-color: #710273;
}

div main aside {
  background-color: #a7d4d9;
}

div footer {
  background-color: #36ABD9;
}

/*----------------INICIO MEDIA---------------*/

@media (min-width:768px) {
  
    div main {
      flex-direction: row;
    }

    div main article {
      flex-grow: 4;
    }

    div main nav {
      flex-grow: 1;
    }

    div main aside {
      flex-grow: 1;
    }

}

/*----------------FIN MEDIA---------------*/