body{
    box-sizing: border-box;
}
li{
    list-style: none;
}
ul{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
div.row{
    background-color: rgb(187, 82, 17);

}


li>a>img{
    width: 70%;
    height: auto;
   
}
ul{
    display: flex;
    justify-content: center;
}
ul>li{
    text-align: center;
    flex: 0 20%;
    background-color: white;
    margin: 15px;
    padding: 5px;
    padding-bottom: 2rem;
    rotate: 15deg;
   
}