/*generales*/
    *{box-sizing: border-box;}
/* fuente de todo el body*/
body{

    font-family: 'Roboto','sans-serif';
    font-weight: bold;
}

/*formulario*/
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    border: 1px solid black;
    width: 50%;


}
form input {

    border: none;
    border-bottom: 1px solid grey;
       margin: 5px;
}
form *::placeholder, select{
    font-weight: bold;
    color: black;

}
form>*{
width: 200px;

}

/*boton*/


button {
    border-radius: 20rem;
    background-color: black;
    padding: 15px;
    color: burlywood;
    width: 200px;
}

a {

    color: black;

}