/*generales*/

/* fuente de todo el body*/
body{

    font-family: 'Roboto','sans-serif';
    font-weight: bold;
}

/*formulario*/
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;


}
form input {

    border: none;
    border-bottom: 1px solid grey;
}
form *::placeholder, select{
    font-weight: bold;
    color: black;

}
/*boton*/


button {
    border-radius: 20rem;
    background-color: black;
    padding: 15px;
    color: burlywood;
    width: 200px;
}

a {

    color: black;

}