* {
box-sizing: border-box;

}
div#contenido{

    display: flex;
    flex-direction: column;

}
section#ofertas{

    display: flex;
    flex-direction: column;
    
   
}
section#ofertas>article.item-oferta{
    border: 1px solid;
    border-radius: 5%;
    padding: 2rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
 

}

section#ofertas>article.item-oferta>img{
    height: auto;
    width: 100%;
     order: 2;

}
section#ofertas>article.item-oferta>h3{
   
    order: 1;

}
section#ofertas>article.item-oferta>p{
   
    order: 3;

}
section#ofertas>article.item-oferta>ul{
   
    order: 4;

}
section#ofertas>article.item-oferta>button.boton-cesta{
   
    order: 5;
    background-color: rgb(255, 174, 0);
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 6px;
    
    margin: 0 auto;

}
section#ofertas>article.item-oferta>button.boton-cesta:hover{

background-color: yellowgreen;

}

@media (min-width:720px) {
    section#ofertas{
           
        flex-direction: row;
        
             
       
    }
    
    section#ofertas>article.item-oferta{
   
       flex: 0 40%;
    
    }


}





   
